@import "#src-landing/scss/main.scss";

$IMAGE_HEIGHT: 500px;

.root {
    position: relative;
    width: 100%;
    background: $palette-background-tertiary;
    isolation: isolate;
}

.backgroundBanner {
    min-height: $IMAGE_HEIGHT;
}

.backgroundBanner::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    opacity: 0.25;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1px);
    background-image: url('/images/banners/open-source-background.png');
    background-size: cover;
    background-repeat: no-repeat;
}
