@import '#src-landing/scss/main.scss';

$FILTERS-WIDTH: 270px;

.root {
    @include font-face-roboto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: $FILTERS-WIDTH;
    height: fit-content;
    gap: 16px;
}

.root > div {
    width: 100%;
}

.filtersHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clearLink {
    @include font-face-base;
    color: $palette-accent-primary;
    font-size: $font-size-body3;
    line-height: $line-height-body2;
    font-weight: $font-weight-semi-bold;
    text-decoration: none;
    border-bottom: 3px solid transparent;

    &:hover {
        border-color: $palette-accent-primary;
    }
}

.filterSectionWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (max-width: $breakpoint-md) {
    .root {
        width: 100%;
    }
}
