@import '#src-landing/scss/main.scss';

$BANNER_BORDER_RADIUS: 10px;

.image {
    position: relative;

    width: 100%;
    max-width: $MAX_SECTION_CONTENT_WIDTH - $padding-6;
    height: $BACKGROUND-HEIGHT;

    margin-inline: auto;
    margin-top: $HEADER_HEIGHT;

    overflow: hidden;

    isolation: isolate;
    font-size: 250px;

    .background {
        object-fit: cover;

        border-radius: $BANNER_BORDER_RADIUS;
    }
    
    &::before {
        position: absolute;

        width: 100%;
        height: 100%;

        z-index: $header-z-index;
        background: $blog-background-mask;
        mix-blend-mode: color;
        border-radius: $BANNER_BORDER_RADIUS;
        content: '';
    }

    @media (max-width: $breakpoint-md) {
        height: $BACKGROUND-HEIGHT-MD;

        font-size: 180px;
        &::after {
            right: 20px;
        }
    }

    @media (max-width: $breakpoint-sm) {
        height: $BACKGROUND-HEIGHT-S;
        font-size: 80px;
        &::after {
            bottom: -10px;
        }
    }

    @media (max-width: $breakpoint-xs) {
        right: 0px;

        height: $BACKGROUND-HEIGHT-XS;

        font-size: 50px;
    }
}

.blogImage {

    &::after {
        @include font-face-base;
        position: absolute;

        bottom: -40px;
        right: 40px;

        z-index: 1;
        isolation: isolate;
        content: "RunNews";
        color: white;
        font-weight: $font-weight-semi-bold;
        letter-spacing: -0.05em;
        mix-blend-mode: soft-light;
    }
    
}

.marketplaceImage {
    
    &::after {
        @include font-face-base;
        position: absolute;

        bottom: -40px;
        right: 40px;

        z-index: 1;
        isolation: isolate;
        content: "Marketplace";
        color: white;
        font-weight: $font-weight-semi-bold;
        letter-spacing: -0.05em;
        opacity: 0.7;
    }

}


