@import '#src-landing/scss/main.scss';

$BACKGROUND-MAX-WIDTH:  1630px;

.image {
    position: relative;

    display: flex;
    justify-content: center;

    width: 100%;

    height: $BACKGROUND-HEIGHT;

    margin-top: $HEADER_HEIGHT;

    isolation: isolate;
    font-size: 250px;

    > * {
        max-width: $BACKGROUND-MAX-WIDTH;
    }

    &::before {
        position: absolute;

        width: 100%;
        max-width: $BACKGROUND-MAX-WIDTH;
        height: 100%;

        z-index: $header-z-index;
        background: $blog-background-mask;
        mix-blend-mode: color;
        content: '';
    }

    &::after{
        @include font-face-base;
        position: absolute;

        bottom: -40px;
        right:  calc((100vw - $BACKGROUND-MAX-WIDTH)/2 + 40px);
        z-index: 1;
        isolation: isolate;
        content: "RunNews";
        color: white;
        font-weight: $font-weight-semi-bold;
        letter-spacing: -0.05em;
        mix-blend-mode: soft-light;
    }

    @media (max-width: $BACKGROUND-MAX-WIDTH){
        &::after{
            right:  40px;
        }
    }

    @media (max-width: $breakpoint-md) {
            height: $BACKGROUND-HEIGHT-MD;

            font-size: 180px;
            &::after{
                right: 20px;
            }
    }

    @media (max-width: $breakpoint-sm) {
        height: $BACKGROUND-HEIGHT-S;
        font-size: 80px;
        &::after{
            bottom: -10px;
        }
    }

    @media (max-width: $breakpoint-xs) {
        right: 0px;

        height: $BACKGROUND-HEIGHT-XS;

        font-size: 50px;
    }

}


