@import '#src-landing/scss/main.scss';



.image {
    position: relative;

    width: 100%;
    height: $BACKGROUND-HEIGHT;

    margin-top: $HEADER_HEIGHT;

    background-position: center;
    background-size: cover;
    isolation: isolate;
    font-size: 250px;
    &::before {
        position: absolute;

        width: 100%;
        height: 100%;

        z-index: $header-z-index;
        background: #FBB040;
        mix-blend-mode: color;
        content: '';
    }
    
    &::after{
        @include font-face-base;
        position: absolute;

        bottom: -40px;
        right: 70px;

        z-index: 1;
        content: "RunNews";
        color: white;
        font-weight: $font-weight-semi-bold;
        letter-spacing: -0.05em;
        mix-blend-mode: soft-light;
    }

    @media (max-width: $breakpoint-md) {
            height: $BACKGROUND-HEIGHT-MD;

            font-size: 180px;
            &::after{
                right: 20px;
            }
    }

    @media (max-width: $breakpoint-sm) {
        height: $BACKGROUND-HEIGHT-S;
        font-size: 80px;
        &::after{
            bottom: -10px;
        }
    }

    @media (max-width: $breakpoint-xs) {
        right: 0px;

        height: $BACKGROUND-HEIGHT-XS;

        font-size: 50px;
    }

}
