@import '#src-landing/scss/main';
@import '#src-landing/components/Typography/Typography.module.scss';

.option {
    @include font-face-base;
    font-size: $font-size-h6;
    font-weight: $font-weight-medium;
    padding: 10px;
    cursor: pointer;
}
.selectWrapper {

    margin-top: auto;
    margin-bottom: auto;
    width: 35px;
    height: 35px;
    position: relative;
    display: flex;
    border: 1px solid $palette-black;
    border-radius: 0.25em;
    font-size: 1.25rem;
    cursor: pointer;
    background-color: transparent;

    align-items: center;

    grid-template-areas: 'select';
    

    &::-ms-expand {
        display: none;
    }
    &::after {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        content: '';
        background: url('/images/flags/globe.svg') no-repeat;
        width: 25px;
        height: 25px;
        background-size: cover;
    }
}
.select {
    border-radius: 5px;
    padding: 10px;
    z-index: $header-z-index;
    opacity: 0;
    position: relative;
    height: 100%;
    width: 100%;
    content: '';
    cursor: pointer;
    appearance: none;
    border: none;
    outline: none;
}
