@import '#src-landing/scss/main';
@import '#src-landing/components/Typography/Typography.module.scss';


$WRAPPER_WIDTH_AND_HEIGHT: 35px;
$AFTER_WIDTH_AND_HEIGHT: $WRAPPER_WIDTH_AND_HEIGHT - 10px;
$ARROW_HEIGHT: 8px;
$CONTENT_BACKGROUND_COLOR: $palette-gray;

.selectGroup{
    @include font-face-base;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-weight: $font-weight-semi-bold;
}

.languageButton{

    position: relative;

    display: flex;

    align-items: center;
    justify-content: center;

    width: $WRAPPER_WIDTH_AND_HEIGHT;
    height: $WRAPPER_WIDTH_AND_HEIGHT;

    border-radius: 0.25em;
    outline: none;
    border: none;
    isolation: isolate;
    background-color: transparent;
    transition: background-color ease-in-out 150ms;
    cursor: pointer;

    &:hover {
        background-color: $palette-background-disabled;
    }

    &::after {
        position: absolute;

        width: $AFTER_WIDTH_AND_HEIGHT;
        height: $AFTER_WIDTH_AND_HEIGHT;

        content: '';
        background: url('/images/flags/globe.svg') no-repeat;
        background-size: cover;
    }
}

.content{
    position: absolute;

    display: grid;

    top: $WRAPPER_WIDTH_AND_HEIGHT + $ARROW_HEIGHT + 1px;

    padding: 5px 3px 5px 3px;

    background-color: $CONTENT_BACKGROUND_COLOR;

    border-radius: 5px;

    &::after {
        position: absolute;

        top: -$ARROW_HEIGHT;

        justify-self: center;

        width: 0;
        height: 0;

        border-left: $ARROW_HEIGHT solid transparent;
        border-right: $ARROW_HEIGHT solid transparent;
        border-bottom: $ARROW_HEIGHT solid $CONTENT_BACKGROUND_COLOR;
        content: '';

    }
}

.hide{
    display: none;
}

.option{

    padding: 5px;

    cursor: pointer;
    border-radius: 5px;

    &:hover{
        background-color: $palette-background-secondary-dark;
    }
}
