@import '#src-landing/scss/main';

$BACKGROUND-HEIGHT: 400px;

.root {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    isolation: isolate;
}

.blogTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $padding-9 $padding-5 $padding-3;
}

.title {
    composes: root from '#src-landing/components/SectionContent/SectionContent.module.scss';
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: $padding-4;
}

.background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: $BACKGROUND-HEIGHT;
    background-image: url('/images/shapes/Industries-arrows.svg');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
}

.blogButtonWrapper {
    composes: root from '#src-landing/components/SectionContent/SectionContent.module.scss';
    display: flex;
    justify-content: flex-end;
    padding: $padding-4;
}

@media (min-width: $breakpoint-xl) {
    .background {
        background-position: center;
    }
}

@media (max-width: $breakpoint-md) {
  .blogTitle {
    flex-direction: column;
    padding: $padding-4;
  }

  .blogButtonWrapper {
    justify-content: flex-start;
    padding: 0 $padding-4;
    width: 100%;
  }
}

@media (max-width: 420px) {
    .blogTitle {
        padding: $padding-4 $padding-3;
    }
    
    .title {
        padding: $padding-0;
    }

    .blogButtonWrapper {
        margin: $margin-2 $margin-0;
        padding: $padding-0;
        
    }
}
