*.metadata
*bin
*tmp
*.settings
*.iml
*.classpath
*.project
.idea/
*build/
*/*/build/
target/
*/target/
*/*/target/
*/.settings/
*/*/.settings/
.gradle/
*.generated
target/
.metadata/
.recommenders/
*bin
*.svn
gradle/caches/
gradle/daemon/
gradle/native/
*/*/test-output/
out/
.DS_Store
**/.DS_Store
/node_modules
/runbotics-deployment
CHANGELOG.*
.fleet
.cursorrules
.vscode/settings.json
