@import '#src-landing/scss/main.scss';
$FILTERS-WIDTH: 270px;
$SECTION-PADDING-BOTTOM: 30px;

.root {
    width: calc(100% - $FILTERS-WIDTH);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding-bottom: $SECTION-PADDING-BOTTOM;
}
.topFilters {
    grid-column: 1/ 4;
}
@media (max-width: $breakpoint-md) {
    .root {
        width: 100%;
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr);
    }
    .topFilters {
        grid-column: 1/ 3;
    }
    .featuredCard {
        grid-column: 1/ 3;
    }
}

@media (max-width: $breakpoint-sm) {
    .root {
        grid-template-columns: repeat(1, 1fr);
    }
    .topFilters {
        grid-column: 1/ 2;
    }
    .featuredCard {
        grid-column: 1/ 2;
    }
}
