@import '#src-landing/scss/main';

.root {
    display: flex;
    width: 100%;
    height: 100%;

    padding-top: $y-content-padding;
    padding-inline: $x-content-padding;
    background: #F8F7FF;
}

.cartWrapper {
    display: flex;
    flex-direction: column;
    flex: 9;
    padding-inline: 1rem;
    gap: clamp(1vh + 1rem, 2vh + 1rem, 2vh + 2rem);
}

.cartHeader {
    font-size: clamp(1vh + 1rem, 2vh + 2rem, 2vh + 2rem);
    font-weight: $font-weight-bold;

    @include font-face-roboto;
}

.cartProductsWrapper {
    display: flex;
    flex-direction: column;

    gap: 2rem;
    @include font-face-roboto;
}

.summaryWrapper {
    display: flex;
    flex: 3;


    background: #707070;
}

.contactForm {
    min-height: 300px;
    background: #bbbbbb;
}
