@import '#src-landing/scss/main';

.mediaScroller {
    --_spacer: var(--size-3, 2rem);

    display: grid;
    grid-gap: var(--_spacer);
    grid-auto-flow: column;

    padding: 0 var(--_spacer) var(--_spacer);

    overflow-x: auto;
    overscroll-behavior-inline: contain;
}
