@import '#src-landing/scss/main.scss';

.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: clamp(1vh, 1vh + 1rem, 2vh + 1rem);
    width: 25vw;
    min-height: 50vh;
    height: fit-content;
    margin-top: 8rem;
    padding: 55px 90px;

    border-radius: 20px;
    background-color: $palette-background-secondary;
    
    @include font-face-roboto;
}
