@import '#src-landing/scss/main.scss';

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border: none;
    border-radius: 50%;
    background-color: $palette-background-primary;
    box-shadow: $box-shadow-primary;

    &:hover {
        cursor: pointer;
        background-color: $palette-background-secondary;
    }

    &:focus {
        outline: none;
        box-shadow: $box-shadow-primary-hover;
    }
}

.forwardArrow {
    composes: root;
    padding-left: 15px;
}

.backwardArrow {
    composes: root;
    padding-right: 15px;
}

.hidden {
    visibility: hidden;
}
