@import "#src-landing/scss/main.scss";

$PC_INTEGRATION_MIN_WIDTH: 100px;
$MOBILE_INTEGRATION_MIN_WIDTH: 60px;

.root {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    padding: $padding-4;
    border-radius: $margin-2;
    background-color: $palette-background-primary;
    box-shadow: $box-shadow-centered;
    transition: transform 200ms ease-in-out;
    isolation: isolate;

    &:hover {
        transform: translate(0, -5px);
    }
}

.templateTitle {
    padding-bottom: $padding-2;
}

.tileDetails {
    display: flex;
    flex-direction: column;
    gap: $margin-2;
    padding-top: $padding-4;
}

.boldText {
    font-weight: $font-weight-semi-bold;
}

.integrations {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax($PC_INTEGRATION_MIN_WIDTH, 2fr));
    gap: $margin-4;
    
    & > * {
        width: 100%;
    }
}

.textHighlight {
    color: $palette-accent-primary;
    font-weight: $font-weight-bold;
}

@media (max-width: $breakpoint-sm) {
    .integrations {
        grid-template-columns: repeat(auto-fill, minmax($MOBILE_INTEGRATION_MIN_WIDTH, 1fr));
    }
}