@import '#src-landing/scss/main.scss';

$BEFORE-X-OFFSET: 20px;
$BEFORE-Y-OFFSET: 40px;

$CARD-BORDER-RADIUS: 20px 20px 150px 20px;
$COUNTER-MIN-WIDTH: 120px;
$CONTENT-WRAPPER-WIDTH: 532px;

.root {
    display: flex;
    justify-content: space-around;
    width: 100%;
    isolation: isolate;
}

.contentWrapper {
    composes: root from '#src-landing/components/SectionContent/SectionContent.module.scss';
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: center;
    padding: 0;
}

.buttonWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: $BEFORE-X-OFFSET;
}

.counter {
    font-size: $font-size-h2;
    font-weight: $font-weight-bold;
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: $COUNTER-MIN-WIDTH;
    text-align: right;
    color: $text-color-gray;
}

.counterCurrent {
    font-size: $font-size-h1;
    font-weight: $font-weight-bold;
    margin-right: $margin-1;
    color: $palette-accent-primary;
}

@media (max-width: $breakpoint-sm) {
    .root {
        align-items: center;
        flex-direction: column;
        gap: $margin-8;
    }

    .buttonWrapper {
        display: none;
    }

    .counter {
        position: relative;
        min-width: none;
        text-align: center;
    }
}
