registry=https://nexus.clouddc.eu/repository/npm-public
always-auth=true
strict-ssl=false
email=npm-client@snpgroup.com
_auth=bnBtLXB1Ymxpc2hlcjpkTk1vY2J5aSgzYjdQKU4maWthUzJoY2Q4ZipQQEozKV5JWW1SKnQ0KkFX