$LOGO_WIDTH: 168px;
$LOGO_HEIGHT: 48px;
$HEADER_HEIGHT: 55px;
$MAX_BLOG_CONTENT_WIDTH: 1080px;
$MAX_SECTION_CONTENT_WIDTH: 1672px;
$BLOG_FILTERS_WIDTH: 270px;

$BACKGROUND-HEIGHT: 400px;
$BACKGROUND-HEIGHT-MD: 280px;
$BACKGROUND-HEIGHT-S:225px;
$BACKGROUND-HEIGHT-XS: 61px;

$landing-link-transition: border-color 300ms;
