$margin-0: 0px;
$margin-1: 8px;
$margin-2: 16px;
$margin-3: 24px;
$margin-4: 32px;
$margin-5: 40px;
$margin-6: 48px;
$margin-7: 56px;
$margin-8: 64px;
$margin-9: 72px;
$margin-10: 80px;
$margin-12: 96px;
$margin-14: 112px;
$margin-16: 128px;
$margin-17: 140px;
$margin-18: 160px;

$padding-0: 0px;
$padding-1: 8px;
$padding-2: 16px;
$padding-3: 24px;
$padding-4: 32px;
$padding-5: 40px;
$padding-6: 48px;
$padding-7: 56px;
$padding-8: 64px;
$padding-9: 72px;
$padding-10: 80px;
$padding-12: 96px;
$padding-14: 112px;
$padding-15: 140px;

$x-content-padding: 1.5rem;
$y-content-padding: 8.5rem;
