@import '#src-landing/scss/main.scss';

.mediaScroller {
    max-width: $MAX_SECTION_CONTENT_WIDTH;
    height: fit-content;
    margin: 0 auto;
    padding-top: clamp(10px, 2vw, 50px);
}

.blogCard {
    display: flex;
    min-width: 300px;
    max-width: calc($MAX_SECTION_CONTENT_WIDTH / 3);
    width: 100%;
}
