@import '#src-landing/scss/main.scss';

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.justifiedRoot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


@media (max-width: $breakpoint-md) {
    .root {
        grid-row: 2;
        grid-column: 2;

        grid-template-columns: repeat(2, 1fr);

        width: 100%;
        margin: 0 auto;
    }

    .featuredCard {
        grid-column: 1 / 3;
    }
}

@media (max-width: $breakpoint-sm) {
    .root {
        grid-row: 3;
        grid-column: 1;

        grid-template-columns: 1fr;
    }

    .featuredCard {
        grid-column: 1 / 2;
    }
}
