@import '#src-landing/scss/main.scss';

.root {
    display: flex;
    flex: 1;
    
    justify-content: space-between;

    @include font-face-roboto;
}

.formSection {
    display: flex;
    flex-direction: column;
    flex: 6;
    
    gap: 12px;
}

.inputSection {
    display: flex;
    flex-direction: column;
    
    gap: 8px;
}

.formInput {
    max-width: 400px;
    
    padding: 4px;
    border-radius: 8px;
}

