@import '#src-landing/scss/main.scss';
@import '#src-landing/components/Typography/Typography.module.scss';

.navLinkWrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 0;
    list-style: none;
}

.link {
    @extend .typography__primary, .typography__Montserrat;
    font-size: $font-size-h6;
    line-height: $line-height-base;
    font-weight: $font-weight-semi-bold;
    text-decoration: none;

    &:hover {
        border-bottom: 3px solid $palette-background-tertiary;
    }
}

.logInBtn {
    display: none;
}

@media (max-width: $breakpoint-md) {
    .navLinksExpanded,
    .hideNavLinksExpanded {
        position: absolute;
        top: $HEADER_HEIGHT;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: clip;
        transition: all 0.3s;
        border-style: solid;
        border-width: 2px 0;
        border-color: #F5F5F5;
        // border-color: $palette-background-tertiary;
        width: 100%;
        max-height: calc(100vh - $HEADER_HEIGHT);
        padding: $padding-2 0;
        background: #FFFFFF;
        // background-image: $palette-background-gradient;
        
        .link {
            &:hover {
                border-bottom: 3px solid $palette-accent-primary;
            }
        }
    }

    .navLinksExpanded::before,
    .hideNavLinksExpanded::before {
        content: '';
        position: absolute;
        z-index: $nested-blur-effect-z-index;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(6px);
    }
    
    .navLinksExpanded {
        left: 0;
    }

    .hideNavLinksExpanded {
        left: -100%;
    }
    
    .listItem {
        
        &:last-child {
            border-top: 2px solid #F5F5F5;
            width: 100%;
            text-align: center;
            padding-top: $margin-2;
        }
    }
    
    .minimized {
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        .listItem {
            text-align: center;
            margin: 0;
            
            &:nth-child(-n+4) {
                grid-column: span 3;
            }
            &:nth-child(n+5) {
                grid-column: span 4;
            }
        }
    }

    .btn {
        display: inline-block;
        border: none;
        border-radius: 24px;
        padding: 10px $padding-3;
        background-color: $palette-background-tertiary;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
    
        & > *:hover {
            color: $text-color-light;
        }
    }
    
    .logInBtn {
        composes: btn;
        margin: 0 $margin-3;
    }
}

@media (max-width: $breakpoint-sm) {
    .minimized {
        grid-template-columns: repeat(2, 1fr);
        .listItem {        
            

            &:nth-child(-n+4) {
                grid-column: span 1;
            }

            &:nth-child(n+4) {
                grid-column: span 1;
            }

            &:last-child {
                grid-column: span 2;
                height: 18vh;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .navLinksExpanded,
    .hideNavLinksExpanded {
        height: 100vh;
    }

    .listItem {
        &:first-child {
            margin-top: 5vh;
        }
        
        &:last-child {
            height: 18vh;
            display: flex;
            align-items: center;
            justify-content: center;
        
        }
    }

}
