@import '#src-landing/scss/main.scss';

.root {
  display: none;
}

.counter {
  composes: counter from '../../views/sections/BenefitsSection/BenefitsCarousel/BenefitsCarousel.module.scss';
}

.counterCurrent {
  composes: counterCurrent from '../../views/sections/BenefitsSection/BenefitsCarousel/BenefitsCarousel.module.scss';
}

@media (max-width: $breakpoint-sm) {
  .root {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 100%;
  }
}
