@import '#src-landing/scss/main.scss';

$SLIDER-HEIGHT: 800px;
$SLIDER-OFFSET-TOP: 124px;
$SLIDER-FLEX-GAP: 25px;
$SLIDER-GAP-OFFSET: 20px;

$SLIDE-HEIGHT: 500px;
$SLIDE-OPEN-IMG: 270px;
$SLIDE-OPEN-CONTENT: 550px;
$SLIDE-CLOSED-CONTENT: 400px;

.root {
    // using css variables to change them from js
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    --index: 0;
    --items-per-slider: 3;
}

.container {
    composes: root from '#src-landing/components/SectionContent/SectionContent.module.scss';
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: center;
    padding: 0;
}

.slider {
    $translate-value: calc(var(--index) * -100% / var(--items-per-slider));

    display: flex;
    flex-grow: 1;
    width: 100%;
    height: $SLIDER-HEIGHT;
    margin-left: $SLIDER-GAP-OFFSET;
    padding-top: $SLIDER-OFFSET-TOP;
    transition: transform 200ms ease;
    transform: translateX($translate-value);
    gap: $SLIDER-FLEX-GAP;
}

.buttonContainer {
    display: flex;
    align-items: center;
    flex-grow: 1;
    width: max-content;
    height: 100%;
    margin: 0 $margin-1 $margin-5 $margin-1;

    &:first-child {
        justify-content: flex-end;
    }
}

@media (max-width: $breakpoint-lg) {
    .slider {
        --items-per-slider: 2;
    }
}

@media (max-width: 900px) {
    .slider {
        --items-per-slider: 1;
    }
}

@media (max-width: $breakpoint-sm) {
    $MOBILE-CONTAINER-MAX-WIDTH: 600px;
    $SLIDE-CLOSED-CONTENT: 300px;

    .root {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-inline: calc($x-content-padding - $SLIDER-GAP-OFFSET);
    }

    .buttonContainer {
        display: none;
    }

    .container {
        max-width: $MOBILE-CONTAINER-MAX-WIDTH;
    }

    .slider {
        max-width: 100%;
        height: fit-content;
    }

    .mobileNav {
        margin-bottom: $margin-6;
    }
}
