@import "#src-landing/scss/main.scss";

.root {
    composes: root from "#src-landing/components/SectionContent/SectionContent.module.scss";
    display: grid;
    height: initial;
    grid-template-columns: repeat(
    auto-fit,
    minmax(calc($breakpoint-md / 2 - $padding-4), 1fr)
  );
    grid-gap: 0;
    justify-items: center;
}

@media (max-width: $breakpoint-md) {
    .root {
        padding: $padding-8 $padding-2;
        grid-gap: $padding-8;
    }
}

@media (max-width: $breakpoint-sm) {
    .root {
        grid-template-columns: 1fr;
    }
}
