.root {
  box-shadow: 0px 16px 26px #0000000f;
  background-color: #fff;
  padding: 12px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
    box-shadow: 0px 16px 26px #0000000f;
  }
}
