$accent-secondary-opacity: 0.32;

$palette-accent-primary: #f7b80c;
$palette-accent-secondary: rgba(
                $palette-accent-primary,
                $accent-secondary-opacity
);

$palette-background-primary: #ffffff;
$palette-background-secondary: #f8f7ff;
$palette-background-accent: #F7B80C;
$box-shadow-primary: 0px 16px 26px 2px rgba(0, 0, 0, 0.1);
