$accent-secondary-opacity: 0.32;
$gradient-secondary-opacity: 0.2;

$palette-accent-primary: #f7b80c;
$palette-accent-secondary: rgba(
    $palette-accent-primary,
    $accent-secondary-opacity
);

$palette-background-primary: #ffffff;
$palette-background-secondary: #f8f7ff;
$palette-background-secondary-dark: #eae8fa;
$palette-background-tertiary: #000000;
$palette-background-disabled: #F5F5F5;
$palette-background-accent: #f7b80c;
$palette-background-accent-dark: #cf9b0b;


$gradient-direction: to right;
$gradient-color-secondary: rgba(
  $palette-background-primary,
  $gradient-secondary-opacity
  );
  $palette-background-gradient: linear-gradient(
    $gradient-direction,
  $palette-background-primary 8%,
  $gradient-color-secondary
);

$box-shadow-primary: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
$box-shadow-centered: rgba(0, 0, 0, 0.15) 0px 2px 15px 0px;