@import '#src-landing/scss/main.scss';

.root {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: $font-size-h6;
}

.category {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: $padding-2 $padding-3;
    color: $text-color-dark;
    text-decoration: none;
    transition: font-weight 300ms ease;

    // to stop from flicking on focus/hover -> font-weight change
    &::before {
        content: attr(data-text);
        height: 0;
        visibility: hidden;
        overflow: hidden;
        user-select: none;
        -webkit-user-select: none;
        font-weight: $font-weight-semi-bold;

        @media speech {
            display: none;
        }
    }

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: $text-color-dark;
        font-weight: $font-weight-semi-bold;
        transform: scale(0, 1);
        transition: transform 300ms cubic-bezier(0.41, 0.9, 0.06, 1.31);
    }

    &:hover {
        font-weight: $font-weight-semi-bold;
        cursor: pointer;
        &::after {
            transform: scale(1, 1);
        }
    }
}

.selected {
    font-weight: $font-weight-semi-bold;
    &::after {
        transform: scale(1, 1);
    }
}
