@import '#src-landing/scss/main.scss';

.accordion {
    background-color: $palette-white !important;
    
    margin: 8px 0;
    border-radius: 8px !important;
    
    &:before {
        display: none;
    }
}


.accordionSummary {
    display: flex;
    
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
    padding: 8px;
}

.deleteButton {
    margin: 8px;
    
    :hover {
        background-color: $palette-light-gray;
        border-radius: 50%;
    }
}

.accordionDetails {
    display: flex;  
    flex-wrap: wrap;
    gap: 1rem;
    
    border: 1px solid $palette-gray;
    border-radius: 8px;
    border-top: 0;    
}

.parameterWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}
