@import "#src-landing/scss/main.scss";

$WIDE_SCREEN_TILE_SIZE: 400px;
$NARROW_SCREEN_TILE_SIZE: 250px;

.root {
    composes: root from '#src-landing/components/SectionContent/SectionContent.module.scss';
    display: flex;
    flex-direction: column;
    align-items: center;
    --tiles-number: 6;
}

.title {
    color: $palette-accent-primary;
}

.darkFont {
    color: $text-color-dark;
}

.templatesGridWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.templatesGrid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($WIDE_SCREEN_TILE_SIZE, 1fr));
    grid-gap: $margin-4;
    width: 100%;
    padding: $padding-8 $padding-4;
    overflow: hidden;
}

@media (max-width: $breakpoint-md) {
    .templatesGrid {
        --tiles-number: 4;
    }
}

@media (max-width: $breakpoint-sm) {
    .templatesGrid {
        grid-template-columns: repeat(auto-fill, minmax($NARROW_SCREEN_TILE_SIZE, 1fr));
        padding-top: $padding-4;
        padding-bottom: $padding-4;
        --tiles-number: 2;
    }
}

@media (max-width: $breakpoint-xs) {
    .templatesGrid {
        padding-left: $padding-0;
        padding-right: $padding-0;
    }
}
