@import "#src-landing/scss/main.scss";

$INPUT-BORDER-RADIUS: 30px;
$INPUT-BORDER-THICKNESS: 2px;
$INPUT-HEIGHT: 60px;
$INPUT-INLINE-PADDING: 20px;

$TEXT-AREA-BASE-HEIGHT: 200px;

$CHECKBOX-WRAPPER-MAX-WIDTH: 450px;
$CHECKBOX-SIZE: 26px;
$CHECKBOX-BORDER-RADIUS: 6px;
$CHECKBOX-TRANSFORM-Y: -1.2px;

@mixin normalize-autocomplete {
    background-color: transparent !important;
    transition: background-color 600000s 0s, color 600000s 0s;
}

.label {
    @include font-face-roboto;
    font-weight: $font-weight-medium;
    position: absolute;
    top: calc($font-size-body3 + 5px);
    left: $padding-5 + $INPUT-BORDER-THICKNESS;
    //2 px for border
    transition: 0.2s ease all;
    pointer-events: none;
    color: $text-color-dark;
    background-color: $palette-background-primary;
}

.input {
    @include font-face-roboto;
    font-size: $font-size-body3;
    display: block;
    width: 100%;
    height: $INPUT-HEIGHT;
    padding: 0 $INPUT-INLINE-PADDING;
    color: $text-color-dark;
    border: #000 $INPUT-BORDER-THICKNESS solid;
    border-radius: $INPUT-BORDER-RADIUS;
    background: #fff;
    caret-color: $palette-accent-primary;
    padding-inline: $padding-5;

    &:focus {
        border-color: $palette-accent-primary;
        outline: none;
        background: $palette-background-primary;

        ~ .label {
            font-size: $font-size-caption;
            top: $font-size-body3 / -2;
            color: $palette-accent-primary;
            padding-inline: $padding-1;
        }
    }

    //to remove the default blue background on chrome autofill
    &:-webkit-autofill,
    &:-webkit-autofill:focus {
        @include normalize-autocomplete;
    }

    &[data-autocompleted] {
        @include normalize-autocomplete;
    }

}

.input:not(:placeholder-shown) ~ .label {
    font-size: $font-size-caption;
    top: $font-size-body3 / -2;
    padding-inline: $padding-1;
}

.textarea {
    composes: input;
    height: $TEXT-AREA-BASE-HEIGHT;
    min-height: $INPUT-HEIGHT;
    padding: $padding-3 $padding-5 + $INPUT-BORDER-THICKNESS;
    resize: vertical;
}

.checkboxWrapper {
    display: flex;
    max-width: $CHECKBOX-WRAPPER-MAX-WIDTH;
    gap: $margin-3;
}


.checkbox {
    font: inherit;
    display: grid;
    width: $CHECKBOX-SIZE;
    height: $CHECKBOX-SIZE;
    margin: $INPUT-BORDER-THICKNESS 0;
    padding: $padding-1;
    cursor: pointer;
    transform: translateY($CHECKBOX-TRANSFORM-Y);
    color: currentColor;
    border: 1px solid currentColor;
    border-radius: $CHECKBOX-BORDER-RADIUS;
    background-color: $palette-background-primary;
    appearance: none;
    place-content: center;
}

.checkboxLabel {
    @include font-face-roboto;
    cursor: pointer;
}

.checkbox::before {
    width: 0.65em;
    height: 0.65em;
    content: "";
    transition: 120ms transform ease-in-out;
    transform: scale(0);
    transform-origin: bottom left;
    box-shadow: inset 1em 1em $palette-accent-primary;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.checkbox:checked::before {
    transform: scale(1);
}

.submit {
    @include font-face-base;
    font-size: $font-size-body2;
    font-weight: $font-weight-bold;
    padding: $padding-2 $padding-6;
    cursor: pointer;
    border: none;
    border-radius: $INPUT-BORDER-RADIUS;
    background-color: $palette-background-accent;
    appearance: none;
}
