@import '#src-landing/scss/main';

.blogArticle {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: $breakpoint-xl;

    margin: 0 auto;
    padding: 20px;
    padding-top: calc(20px + $HEADER_HEIGHT);
}

.contentSection {
    display: flex;
    flex-direction: column;
    max-width: $MAX_BLOG_CONTENT_WIDTH;

    padding-bottom: 64px;
}
