@import '#src-landing/scss/main.scss';

$FORM-MAX-WIDTH: 800px;

.root {
    width: 100%;
    height: fit-content;
    max-width: $FORM-MAX-WIDTH;
}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    gap: $margin-6;
}

.formRow {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $padding-3;
    flex-wrap: wrap;
}

.submitRow {
    composes: formRow;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;

    img {
        margin-left: auto;
    }
}


@mixin common-styles() {
    @include font-face-base;

    padding-inline: 10px;

    transition: all 300ms ease-in-out;

    li {
      margin-top: 5px;
    }
  }

.processing_data{
    @include common-styles;

    height: 100%;

    opacity: 1;
}

.hidden{
    @include common-styles;

    height: 0;

    opacity: 0;
}



@media (max-width: $breakpoint-sm) {
    .formRow {
        justify-content: center;
    }

    .submitRow {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: $margin-1;

        img {
            margin-inline: auto;
        }
    }
}