@import '#src-landing/scss/main.scss';

.root {
    display: none;
}

.counter {
    composes: counter from '../Carousel.module.scss';
}

.counterCurrent {
    composes: counterCurrent from '../Carousel.module.scss';
}

@media (max-width: $breakpoint-sm) {
    .root {
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;
        width: 100%;
    }
}
