@import '#src-landing/scss/main.scss';

$SEPARATOR_SPACE: $padding-1;

.root {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-column: span 2;
    width: 100%;
    margin-top: $padding-3;
}

.breadcrumb {
    display: flex;
}

.linkContent {
    border-bottom: 2px solid transparent;
    transition: border-color 300ms;
}

.homeLink {
    display: flex;
    align-items: center;
    border: none;

    .icon {
        filter: $black-to-accent-filter;
        padding-right: $SEPARATOR_SPACE;
    }

    &:hover {
        .linkContent {
            border-color: $palette-accent-primary;
        }
    }
}

.separator {
    padding-inline: $SEPARATOR_SPACE;
    user-select: none;
    -webkit-user-select: none;
}
