@import '#src-landing/scss/main';

.root {
    @include font-face-base;
}

.typography {
    composes: root;

    &__primary {
        color: $text-color-dark;
    }

    &__secondary {
        color: $text-color-light;
    }

    &__accent {
        color: $text-accent-color;
    }

    &__error {
        color: $text-color-error;
    }

    &__success {
        color: $text-color-success;
    }

    &__h1,
    &__h2,
    &__h3,
    &__h4,
    &__h5 {
        font-weight: $font-weight-bold;
    }

    &__h6 {
        font-weight: $font-weight-semi-bold;
    }

    &__h1 {
        font-size: $font-size-h1;
        line-height: $line-height-h1;
    }

    &__h2 {
        font-size: $font-size-h2;
        line-height: $line-height-h2;
    }

    &__h3 {
        font-size: $font-size-h3;
        line-height: $line-height-h3;
    }

    &__h4 {
        font-size: $font-size-h4;
        line-height: $line-height-h4;
    }

    &__h5 {
        font-size: $font-size-h5;
        line-height: $line-height-base;
    }

    &__h6 {
        font-size: $font-size-h6;
        line-height: $line-height-base;
    }

    &__body1 {
        font-size: $font-size-body1;
        line-height: $line-height-body1;
    }

    &__body2 {
        font-size: $font-size-body2;
        line-height: $line-height-body2;
    }

    &__body3 {
        font-size: $font-size-body3;
        line-height: $line-height-base;
    }

    &__body4 {
        font-size: $font-size-body4;
        line-height: $line-height-base;
    }

    &__body5 {
        font-size: $font-size-body5;
        line-height: $line-height-base;
    }

    &__Roboto {
        @include font-face-roboto;
    }

    &__Montserrat {
        @include font-face-base;
    }
}
