@import '#src-landing/scss/main.scss';
$BADGE-BORDER-RADIUS: 20px;
$BADGE-HEIGHT: 25px;

.root {
    height: $BADGE-HEIGHT;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $padding-1 $padding-2;
    border-radius: $BADGE-BORDER-RADIUS;
    line-height: initial;
    width: fit-content;
}
