@import '#src-landing/scss/main.scss';

$SLIDER-FLEX-GAP: 25px;

$SLIDE-HEIGHT: 500px;
$SLIDE-OPEN-IMG: 230px;
$SLIDE-OPEN-CONTENT: 330px;
$SLIDE-CLOSED-CONTENT: 400px;

.slide {
    $slide-width: calc(100% / var(--items-per-slider));

    position: relative;
    flex: 0 0 $slide-width;
    //idk why, looks like shit without + 2px
    max-width: calc($slide-width - $SLIDER-FLEX-GAP + 2px);
    height: $SLIDE-HEIGHT;
    margin-bottom: $margin-5;
    background-color: #fff;

    &__open {
        height: fit-content;

        div:first-child {
            height: $SLIDE-OPEN-IMG;
        }

        div:last-child {
            height: $SLIDE-OPEN-CONTENT;
            margin-top: $SLIDE-OPEN-IMG;
        }
    }
}

.slide[data-shadow='false'] {
    box-shadow: none;
}

.showMoreButton {
    $padding-top: 36px;

    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: $padding-top 5% $padding-5 5%;
    text-align: center;
    opacity: 0.8;
    border: none;
    background: transparent;

    h4 {
        font-size: 22px;
        font-weight: 500;
    }

    &:hover {
        cursor: pointer;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 90%;
        height: 2px;
        content: '';
        background-color: #fff;
        margin-inline: 5%;
    }
}

.imgWrapper {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: all 0.1s;
    border-radius: 20px 150px 20px 20px;
}

.plusSign {
    width: 45px;
    height: 45px;
}

.cardImg {
    width: 100%;
    height: 100%;
    border-radius: 20px 150px 20px 20px;
    object-fit: cover;
    filter: brightness(80%);
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: $SLIDE-CLOSED-CONTENT;
    transition: all 0.2s;
    border-radius: 20px 150px 20px 20px;
}

.contentUl {
    margin-block: $margin-5;
    padding-inline: $padding-2;
}

.contentLi {
    list-style: none;
    padding-block: $padding-1;
}

.contentLink {
    font-weight: $font-weight-bold;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    text-decoration: none;
    color: $text-color-dark;
    gap: 45px;

    img {
        width: 15px;
    }
}

@media (max-width: $breakpoint-md) {
    .slide__open {
        div:last-child {
            height: fit-content;
        }
    }
}

@media (max-width: $breakpoint-sm) {
    $SLIDE-CLOSED-CONTENT: 600px;

    .content {
        height: fit-content;
    }
}
