@import '#src-landing/scss/main.scss';

$CARD-PADDING-TOP: 20px;
$CARD-PADDING: 20px;
$IMG-MAX-HEIGHT: 140px;
$IMG-BORDER-RADIUS: 20px;
$INFO-PADDING: 0 20px;
$TITLE-MARGIN-BOTTOM: 10px;
$CONTENT-PADDING: 12px 20px 20px 20px;
$READ-MORE-PADDING-RIGHT: 30px;
$READ-MORE-A-TOP: 1px;
$READ-MORE-A-RIGHT: 5px;
$READ-MORE-ICON-HEIGHT: 24px;
$READ-MORE-ICON-WIDTH: 24px;
$READ-MORE-COLOR: #fbb040;
$BADGE-TOP: calc($IMG-MAX-HEIGHT - 40px);
$BADGE-LEFT: 20px;
$DRAFT-BADGE-TOP: calc($IMG-MAX-HEIGHT - 120px);
$BADGE-GAP: 15px;
$BADGES-BORDER-RADIUS: 25px;
$CONTENT-MIN-HEIGHT: 245px;
$CARD-HOVER-TRANSLATE-Y: -3px;
$CARD-HOVER-TRANSITION: 200ms;
$FONT-COLOR: #000;

.root {
    display: grid;
}

.link {
    height: 100%;

    color: $FONT-COLOR;
    border-radius: $IMG-BORDER-RADIUS;
    transition: transform $CARD-HOVER-TRANSITION ease;
    box-shadow: $box-shadow-primary;
    text-decoration: none;
    border: none;

    &:hover {
        transform: translateY($CARD-HOVER-TRANSLATE-Y);
        box-shadow: $box-shadow-primary-hover;

        .title,
        .readMore {
            text-decoration: underline;
        }
    }
}

.wrapper {
    position: relative;

    width: 100%;
    height: 100%;
    border-radius: $IMG-BORDER-RADIUS;

    background-color: $palette-white;
}

.img {
    position: relative !important;
    max-height: $IMG-MAX-HEIGHT;
    object-fit: cover;
    border-radius: $IMG-BORDER-RADIUS;
}

.info {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.category {
    font-weight: $font-weight-semi-bold;
}

.title {
    font-weight: $font-weight-bold;
    margin: 0;
    margin-bottom: $TITLE-MARGIN-BOTTOM;
}

.content {
    display: flex;
    flex-direction: column;
    padding: $CONTENT-PADDING;
    gap: 10px;
    min-height: calc(100% - $IMG-MAX-HEIGHT);
}

.readMore {
    display: flex;
    justify-content: flex-end;

    margin-top: auto;
    width: 100%;
    color: $READ-MORE-COLOR;

    &::after {
        content: '';
        filter: $black-to-accent-filter;
        top: $READ-MORE-A-TOP;
        right: $READ-MORE-A-RIGHT;

        height: $READ-MORE-ICON-HEIGHT;
        width: $READ-MORE-ICON-WIDTH;

        background-image: url('/images/icons/right.svg');
    }
}

.badges {
    position: absolute;
    top: $BADGE-TOP;
    left: $BADGE-LEFT;

    display: flex;
    flex-wrap: nowrap;
    gap: $BADGE-GAP;

    width: calc(100% - 2 * $BADGE-LEFT);

    border-radius: $BADGES-BORDER-RADIUS;
    overflow: hidden;
}

.badge {
    width: max-content;
}

.draftBadge {
    position: absolute;
    top: $DRAFT-BADGE-TOP;
    right: $BADGE-LEFT;
}
