name: Build bot executable file

on:
  push:
    branches:
      - 'develop'
      - 'master'
      - 'release/**'
      - 'hotfix/**'
      - 'feature/**'
      - 'bugfix/**'
  workflow_dispatch:

env:
  NODE_VERSION: 22.16.0
  PNPM_VERSION: 8.7.1
  RUSH: node ../common/scripts/install-run-rush.js

jobs:
  changes-detection:
    runs-on: windows-latest

    outputs:
      bot: ${{ steps.filter.outputs.bot }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Assign paths to scenarios
        uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            bot:
              - 'runbotics/runbotics-desktop/package.json'

  build-bot:
    needs: changes-detection
    if: ${{ needs.changes-detection.outputs.bot == 'true' }}

    runs-on: windows-latest

    permissions:
      contents: read
      packages: read

    defaults:
      run:
        working-directory: ./runbotics/runbotics-desktop

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Clone submodules
        run: git submodule update --init --recursive

      - name: Install Node ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Setup PNPM
        uses: pnpm/action-setup@v2
        with:
          version: ${{ env.PNPM_VERSION }}

      - name: Update .npmrc
        shell: bash
        run: |
          echo -en "\n@runbotics:registry=https://npm.pkg.github.com\n//npm.pkg.github.com/:_authToken=${{ secrets.GH_TOKEN }}" >> ../common/config/rush/.npmrc
          echo -en "\n@runbotics:registry=https://npm.pkg.github.com\n//npm.pkg.github.com/:_authToken=${{ secrets.GH_TOKEN }}" >> ../runbotics-build-configuration/runbotics-desktop/.npmrc

      - name: Install dependencies
        run:  ${{ env.RUSH }} install -t .

      - name: Build
        run: ${{ env.RUSH }} rebuild -t .

      - name: Rush deploy
        run: |
          mkdir -p ../common/deploy/runbotics-desktop
          ${{ env.RUSH }} deploy `
            --scenario runbotics-desktop `
            --target-folder ../common/deploy/runbotics-desktop `
            --overwrite

      - name: Assign package version
        uses: nyaa8/package-version@v1
        with:
          path: './runbotics/runbotics-desktop/package.json'

      - name: Run electron-install script
        shell: bash
        run: |
            cd ../common/deploy/runbotics-desktop/ &&
            ./electron-install.sh

      - name: Build rb-desktop
        env:
          CSC_IDENTITY_AUTO_DISCOVERY: false
        run: |
          cd '../common/deploy/runbotics-desktop/runbotics-desktop/'; `
          pnpm electron-builder

      - name: Sign bot
        uses: dlemstra/code-sign-action@v1
        if: ${{ ! startsWith(github.ref, 'refs/heads/feature/') && ! startsWith(github.ref, 'refs/heads/bugfix/') }}
        with:
          certificate: '${{ secrets.CERT_BASE64 }}'
          password: '${{ secrets.CERT_PASSWORD }}'
          folder: './runbotics/common/deploy/runbotics-desktop/runbotics-desktop/release/'
          recursive: true

      - name: Upload bot artifact
        id: upload-bot-executable-artifact
        uses: actions/upload-artifact@v4.0.0
        if: ${{ ! startsWith(github.ref, 'refs/heads/feature/') && ! startsWith(github.ref, 'refs/heads/bugfix/') }}
        with:
          name: RunBotics-${{ env.PACKAGE_VERSION }}
          path: |
            ./runbotics/common/deploy/runbotics-desktop/runbotics-desktop/release/
          if-no-files-found: error

      - name: Create patch notes
        if: ${{ ! startsWith(github.ref, 'refs/heads/feature/') && ! startsWith(github.ref, 'refs/heads/bugfix/') }}
        run: |
          echo "## Bot version ${{ env.PACKAGE_VERSION }}" >> patch_notes.md
          echo "## How to Set Up" >> patch_notes.md
          echo "1. Download the bot executable compressed folder to the machine where you want to execute the processes for your RunBotics web app instance." >> patch_notes.md
          echo "2. Unzip the file." >> patch_notes.md
          echo "3. Create a .env file based on the runbotics/runbotics/runbotics-desktop/.env.development example and place it in the top directory of your unzipped folder." >> patch_notes.md
          echo "4. Fill it with your credentials and settings." >> patch_notes.md
          echo "5. Run <path/to/your/unzipped/folder>/win-unpacked/RunBotics-<version>.exe" >> patch_notes.md

      - name: Upload patch notes
        id: upload-patch-notes-artifact
        uses: actions/upload-artifact@v4.0.0
        if: ${{ ! startsWith(github.ref, 'refs/heads/feature/') && ! startsWith(github.ref, 'refs/heads/bugfix/') }}
        with:
          name: patch-notes-${{ env.PACKAGE_VERSION }}
          path: './runbotics/runbotics-desktop/patch_notes.md'
          if-no-files-found: error
