name: E2E Playwright Tests

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  e2e-tests:
    runs-on: [ubuntu-latest]

    steps:
      - name: Checkout E2E Tests
        uses: actions/checkout@v4
        with:
          ref: develop
          sparse-checkout: |
            runbotics-test
            .github
      - name: Create user.json file
        working-directory: ./runbotics-test
        run: |
          mkdir -p .auth
          echo '{
          "tenant_admin": {
            "email": "${{ secrets.RUNBOTICS_USER_TENANT_ADMIN }}",
            "password": "${{ secrets.RUNBOTICS_PASSWORD_TENANT_ADMIN }}"
          },
          "admin": {
            "email": "${{ secrets.RUNBOTICS_USER_ADMIN }}",
            "password": "${{ secrets.RUNBOTICS_PASSWORD_ADMIN }}"
          },
          "rpa_user":{
            "email": "${{ secrets.RUNBOTICS_RPA_USER }}",
            "password": "${{ secrets.RUNBOTICS_PASSWORD_RPA_USER }}"
          }}' > .auth/user.json

      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Install dependencies
        run: npm install
        working-directory: ./runbotics-test

      - name: Install Playwright dependencies
        run: npx playwright install --with-deps
        working-directory: ./runbotics-test

      - name: Run Playwright E2E tests
        run: npm run test
        working-directory: ./runbotics-test

      - name: Upload Playwright Report
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: './runbotics-test/playwright-report'
