name: Node.js Package

on:
  workflow_dispatch:
    inputs:
      fragment:
        description: 'Which package should be published?'
        required: true
        type: choice
        options:
          - sdk
          - cli

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    defaults:
      run:
        working-directory: ./runbotics/runbotics-${{ github.event.action }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node 18
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          registry-url: https://npm.pkg.github.com/

      - name: Install packages
        run: npm install --ignore-scripts

      - name: Build
        run: npm run build

      - name: Publish
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GH_TOKEN }}
