@import '#src-landing/scss/main.scss';

$SECTION-PADDING-BOTTOM: 30px;

.root {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    width: 100%;
    padding-bottom: $SECTION-PADDING-BOTTOM;

}



@media (max-width: $breakpoint-md) {
    .root {
        grid-template-columns: repeat(2, 1fr);

        width: 100%;
        margin: 0 auto;
    }

    .featuredCard {
        grid-column: 1 / 3;
    }
}

@media (max-width: $breakpoint-sm) {
    .root {
        grid-template-columns: 1fr;
    }

    .featuredCard {
        grid-column: 1 / 2;
    }
}
