@import '#src-landing/scss/main';

.root {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: $padding-3;
    padding-bottom: $padding-3;

    user-select: none;
}

.slider {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}
